.about-site {
    background: url("../img/index-background-mobile@1x.jpg") no-repeat;
    background-size: 320px 305px;
}

.about-site__content {
    width: 255px;

    text-align: center;
}

.about-site__title {
    color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    font-family: OswaldRegular;

    padding-top: 30px;
}

.about-site__slogan {
    font-size: 14px;
    line-height: 14px;
    text-transform: uppercase;
    color: #ffffff;
    font-family: OswaldRegular;
}

.about-site__product-preview {
    background-image: url("../img/index-can-mobile@1x.png");
    width: 280px; 
    height: 270px;
}

.about-site__button {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: OswaldRegular;

    padding-top: 10px;

    height: 40px;
}

@media (min-width: 768px) {
    .about-site {
        background-image: none;
        margin-left: 90px;
        height: 760px;  
        position: relative;
    }

    .about-site__product-preview {
        background-image: url("../img/index-can-tablet@1x.jpg");
        background-size: 669px 609px;
        position: absolute;
        width: 649px;
        height: 609px;
        left: -30px;
    }

    .about-site__content {
        width: 440px;

        text-align: left;
    }

    .about-site__title {
        font-weight: normal;
        font-size: 60px;
        line-height: 60px;
        color: #000000;

        padding-top: 0;
    }

    .about-site__slogan {
        color: #000000;
    }

    .about-site__button {
        position: absolute;
        margin-top: 30px;

        width: 245px;
        height: 50px;

        padding-top: 15px;
    }
}