.additional-catalog__title {
    font-family: OswaldRegular;
    font-size: 24px;
    line-height: 24px;
    position: relative;
}

.additional-catalog__title::after {
    content: '';

    position: absolute;
    width: 53px;
    height: 3px;
    background-color: #68b738;
    right: -20px;
    top: 14px;
}

.additional-product-info__title {
    font-family: OswaldRegular;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;
}

.additional-product-info {
    border-top: 1px solid #e6e6e6;
    
    margin-top: 10px;
    
    width: 280px;
}

.additional-product__table {
    width: 284px;
    margin-left: -2px;
}

.additional-product__table-unit {
    font-family: Arial;
    font-size: 14px;
    line-height: 14px;

    display: flex;
    justify-content: space-between;
}

.additional-catalog__gift {
    border-top: 1px solid #e6e6e6;
    padding-top: 25px;
    margin-top: 15px;
}

.additional-catalog__gift-content {
    width: 280px;
    height: 290px;

    background: url("../img/gift-photo-mobile@1x.jpg") no-repeat;

    text-align: center;
    position: relative;
}

.additional-catalog__gift-content::before {
    content: "";

    position: absolute;
    width: 55px;
    height: 60px;
    top: 65px;
    left: 108px;
    background-image: url("../img/icon-gift.svg");
}

.additional-catalog__gift-description {
    color: #ffffff;
    font-family: Arial;
    font-size: 16px;
    line-height: 20px;

    width: 160px;
    margin-left: 55px;
    padding-top: 190px;
}

@media (min-width: 768px) {
    .additional-catalog__title {
        font-size: 36px;
        line-height: 36px;
        padding-left: 40px;
        
        width: 400px;

        display: block;

        background-color: #ffffff;
    }

    .additional-catalog__title::after {
        width: 768px;
        left: -30px;
        top: 22px;
        z-index: -1;
    }

    .additional-product-info {
        width: 708px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        border: 1px solid #e6e6e6;
        margin-top: 0;
    }

    .additional-product-info__title {
        display: inline-block;
        margin-left: 33px;

        font-size: 20px;
        line-height: 20px;
    }

    .additional-product__table {
        width: 225px;
        padding-top: 23px;
        margin-right: 40px;
    }

    .additional-product__table-unit td {
        font-size: 16px;
        line-height: 20px;

        display: block;
        text-align: right;
    }

    .product-button--additional-catalog {
        margin-bottom: 27px;
        margin-top: 0;
    }

    .additional-catalog__gift {
        border-top: 0;
        padding-top: 0;
        margin-top: 70px;
    }

    .additional-catalog__gift-content {
        background-image: url("../img/gift-photo-tablet@1x.jpg");
        width: 708px;
    }

    .additional-catalog__gift-description {
        font-size: 16px;
        line-height: 20px;

        width: 170px;
        text-align: left;

        margin: 0;
        margin-left: 423px;
        padding-top: 75px;
    }
}
