.additional-products-selection {
    width: 320px;

    border: none;
    border-top: 3px solid #68b738;
}

.additional-products-selection__legend {
    font-size: 24px;
    font-family: OswaldRegular;
    line-height: 24px;
}

.additional-products-selection__list {
    list-style: none;

    padding: 0;
}

.additional-products-selection__unit {
    padding-top: 15px;
}

.additional-products-selection__label {
    font-size: 16px;
    font-family: OswaldRegular;
    line-height: 18px;
    text-transform: uppercase;

    position: relative;
    user-select: none;

    padding-left: 40px;

    display: block;
}

.additional-products-selection__value {
    z-index: -1;
    opacity: 0;
    position: absolute;
}

.additional-products-selection__value:not(:checked)+label::before,
.additional-products-selection__value:checked+label::before {
    content: "";

    position: absolute;
    width: 30px;
    height: 30px;
    left: 3px;
    top: -7px;
    border: 1px solid #cfcfcf;
}

.additional-products-selection__value:checked+label::after {
    content: "";
    
    position: absolute;
    width: 21px;
    height: 16px;
    top: 0px;
    left: 8px;
    background-image: url('../img/icon-tick.svg');
}