.address__announcement {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 10px;
}

.address__title {
    font-family: OswaldRegular;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: normal;

    width: 125px;
}

.address__place {
    font-family: Arial;
    font-size: 14px;
    line-height: 20px;

    width: 140px;
}

.address__map {
    background-image: url('../img/bg-map-mobile@1x.png');
    background-repeat: no-repeat;
    width: 320px;
    height: 400px;
    position: relative;
}

.address__map::before {
    content: "";

    position: absolute;
    width: 50px;
    height: 45px;
    left: 134px;
    top: 185px;
    background-image: url("../img/map-pin.png");
    background-size: 50px 45px;
}

@media (min-width: 768px) {
    .address {
        margin-top: 50px;
    }

    .address__announcement {
        margin-bottom: 40px;
        &--other-pages {
            margin-bottom: 0;
            background-color: #f2f2f2;
            height: 201px;
        }
    }

    .address__title {
        font-size: 20px;
        line-height: 25px;
        font-weight: normal;

        padding-left: 20px;
        height: 125px;

        &--other-pages {
            margin-top: 60px;
        }
    }

    .address__place {
        font-size: 16px;

        width: 180px;
        text-align: right;

        padding-right: 40px;

        &--other-pages {
            margin-top: 60px;
        }
    }

    .address__city {
        display: block;
        margin-top: 18px;
    }

    .address__map {
        background-image: url("../img/bg-map-tablet@1x.png");
        background-repeat: no-repeat;
        width: 768px;
    }

    .address__map::before {
        content: "";

        position: absolute;
        width: 113px;
        height: 106px;
        top: 145px;
        left: 335px;
        background-image: url("../img/map-pin.png");
        background-size: 121px 106px;
    }
}