.form-section__title {
    font-family: OswaldRegular;
    font-size: 36px;
    line-height: 60px;
    text-transform: uppercase;
}

.form-section__description {
    font-family: OswaldRegular;
    font-size: 14px;
    font-family: 18px;
    text-transform: uppercase;
}

.form__submit-button {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: OswaldRegular;

    padding-top: 0px;
    margin-left: -5px;

    height: 40px;
}