.main-catalog__title {
    font-family: OswaldRegular;
    font-size: 36px;
    line-height: 60px;
    margin-left: 20px;
}

.product {
    width: 320px;
    border-top: 1px solid #e6e6e6;
    margin-top: 10px;
}

.product__card {
    display: flex;
}

.product-info__title {
    font-family: OswaldRegular;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000000;

    display: block;
    width: 100px;
}

.product-info__table {
    width: 140px;
}

.product-info__table-unit {
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;

    display: flex;
    justify-content: space-between;
}

.product-button {
    text-decoration: none;
    color: #ffffff;
    text-transform: uppercase;
    font-family: OswaldRegular;
    padding-top: 10px;
    margin-left: 20px;
    height: 40px;
    &--additional-catalog {
        margin-left: 0;
    }
}

.more-products {
    width: 320px;
    height: 210px;

    border: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;

    margin-top: 10px;

    text-align: center;

    position: relative;
}

.more-products::before {
    content: "";

    position: absolute;
    width: 30px;
    height: 30px;
    top: 26px;
    left: 145px;
    background-image: url('../img/icon-plus-mobile.svg');

    opacity: 0.2;
}

.more-products__title {
    font-family: OswaldRegular;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;

    padding-top: 80px;
    margin: 0;
}

.more-products__description {
    font-family: Arial;
    font-size: 12px;
    line-height: 16px;

    margin: 0;
    padding-top: 16px;
    padding-bottom: 25px;
}

.more-products__link {
    text-decoration: none;
    color: #444444;
    text-transform: uppercase;
    font-family: OswaldRegular;

    padding-top: 10px;
    margin-left: 20px;

    height: 40px;
}