.page-header {
    width: 320px;
}

.page-header__logo:hover {
    opacity: 0.8;
}

.page-header__logo:active {
    opacity: 0.6;
}

.page-header__buttons {
    width: 280px;

    margin-left: 20px;
    margin-top: 10px;

    display: flex;

    justify-content: space-between;
}

.main-menu__unit {
    font-family: OswaldMedium;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    list-style: none;
    text-align: center;

    display: block;
    width: 320px;
    height: 65px;

    border: 1px solid #e6e6e6;
    border-left: none;
    border-right: none;
}

.page-header__toggle-button {
    width: 29px;
    height: 22px;

    background-image: url("../img/icon-mobile-menu.svg");
    background-repeat: no-repeat;
    background-color: #ffffff;
    border: none;

    margin-top: 7px;
}

.main-menu {
    padding: 0;
}

.main-menu__unit a {
    color: #000000;
    text-decoration: none;

    display: inline-block;
    margin-top: 24px;
}

.main-menu__unit a:hover {
    opacity: 0.6;
}

.main-menu__unit a:active {
    opacity: 0.3;
}

.main-menu__unit--active-page {
    border-bottom: 2px solid #68b738;
    border-spacing: 2px;
}

