.program-info {
    margin: 0;
    padding: 0;

    border: 1px solid #ededed;
    border-left: none;
    border-right: none;
    width: 320px;
    height: 158px;
    margin-top: 25px;
}

.program-info__list {
    list-style: none;

    padding: 0;

    margin-top: 35px;
}

.program-info__unit {
    display: block;

    margin-top: 15px;
}

.program-info__label {
    font-family: OswaldRegular;
    font-size: 16px;
    line-height: 18px;
    text-transform: uppercase;

    position: relative;
    user-select: none;

    padding-left: 45px;
}

.program-info__value:not(:checked)+label::before,
.program-info__value:checked+label::before {
    content: "";

    position: absolute;
    width: 20px;
    height: 20px;
    left: 5px;
    top: 2px;
    border: 1px solid #d2d2d2;
    border-radius: 50%;
}

.program-info__value:checked+label::after {
    content: "";

    position: absolute;
    width: 8px;
    height: 8px;
    top: 8px;
    left: 11px;
    border: 1px solid green;
    background-color: green;
    border-radius: 50%;
}

.program-info__value:active+label::before,
.program-info__value:active+label::after,
.program-info__label:active {
    opacity: 0.5;
}

.program-info__value {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

@media (min-width: 768px) {
    .program-info {
        width: 630px;
        height: 200px;
        margin: 0;
        margin-left: 60px;
        margin-top: 72px;

        border: 1px solid #ededed;
    }

    .program-info__content {
        width: auto;
    }

    .program-info__list {
        margin: 0;
        height: 200px;

        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .program-info__unit {
        margin-top: 0px;
    }

    .program-info__label {
        font-size: 20px;
        line-height: 20px;
    }

    .program-info__value:not(:checked)+label::before,
    .program-info__value:checked+label::before {
        width: 40px;
        height: 40px;
        left: -10px;
        top: -5px;
    }

    .program-info__value:checked+label::after {
        width: 18px;
        height: 18px;
        left: 1px;
        top: 7px;
        border-radius: 50%;
    }
}